<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoomride.mapper.BrifScheduleMapper">
  <resultMap id="BaseResultMap" type="com.zoomride.entity.BrifSchedule">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mo" jdbcType="VARCHAR" property="mo" />
    <result column="tu" jdbcType="VARCHAR" property="tu" />
    <result column="we" jdbcType="VARCHAR" property="we" />
    <result column="th" jdbcType="VARCHAR" property="th" />
    <result column="fr" jdbcType="VARCHAR" property="fr" />
    <result column="sa" jdbcType="VARCHAR" property="sa" />
    <result column="su" jdbcType="VARCHAR" property="su" />
  </resultMap>
  <sql id="Base_Column_List">
    id, address, mo, tu, we, th, fr, sa, su
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bref_schedule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bref_schedule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zoomride.entity.BrifSchedule">
    insert into bref_schedule (id, address, mo, 
      tu, we, th, fr, 
      sa, su)
    values (#{id,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{mo,jdbcType=VARCHAR}, 
      #{tu,jdbcType=VARCHAR}, #{we,jdbcType=VARCHAR}, #{th,jdbcType=VARCHAR}, #{fr,jdbcType=VARCHAR}, 
      #{sa,jdbcType=VARCHAR}, #{su,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zoomride.entity.BrifSchedule">
    insert into bref_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mo != null">
        mo,
      </if>
      <if test="tu != null">
        tu,
      </if>
      <if test="we != null">
        we,
      </if>
      <if test="th != null">
        th,
      </if>
      <if test="fr != null">
        fr,
      </if>
      <if test="sa != null">
        sa,
      </if>
      <if test="su != null">
        su,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mo != null">
        #{mo,jdbcType=VARCHAR},
      </if>
      <if test="tu != null">
        #{tu,jdbcType=VARCHAR},
      </if>
      <if test="we != null">
        #{we,jdbcType=VARCHAR},
      </if>
      <if test="th != null">
        #{th,jdbcType=VARCHAR},
      </if>
      <if test="fr != null">
        #{fr,jdbcType=VARCHAR},
      </if>
      <if test="sa != null">
        #{sa,jdbcType=VARCHAR},
      </if>
      <if test="su != null">
        #{su,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zoomride.entity.BrifSchedule">
    update bref_schedule
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mo != null">
        mo = #{mo,jdbcType=VARCHAR},
      </if>
      <if test="tu != null">
        tu = #{tu,jdbcType=VARCHAR},
      </if>
      <if test="we != null">
        we = #{we,jdbcType=VARCHAR},
      </if>
      <if test="th != null">
        th = #{th,jdbcType=VARCHAR},
      </if>
      <if test="fr != null">
        fr = #{fr,jdbcType=VARCHAR},
      </if>
      <if test="sa != null">
        sa = #{sa,jdbcType=VARCHAR},
      </if>
      <if test="su != null">
        su = #{su,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zoomride.entity.BrifSchedule">
    update bref_schedule
    set address = #{address,jdbcType=VARCHAR},
      mo = #{mo,jdbcType=VARCHAR},
      tu = #{tu,jdbcType=VARCHAR},
      we = #{we,jdbcType=VARCHAR},
      th = #{th,jdbcType=VARCHAR},
      fr = #{fr,jdbcType=VARCHAR},
      sa = #{sa,jdbcType=VARCHAR},
      su = #{su,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>