<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoomride.mapper.DesIncludeItemMapper">
  <resultMap id="BaseResultMap" type="com.zoomride.entity.DesIncludeItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="des_id" jdbcType="VARCHAR" property="desId" />
    <result column="include_item_id" jdbcType="VARCHAR" property="includeItemId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, des_id, include_item_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from des_include_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from des_include_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zoomride.entity.DesIncludeItem">
    insert into des_include_item (id, des_id, include_item_id
      )
    values (#{id,jdbcType=VARCHAR}, #{desId,jdbcType=VARCHAR}, #{includeItemId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zoomride.entity.DesIncludeItem">
    insert into des_include_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="desId != null">
        des_id,
      </if>
      <if test="includeItemId != null">
        include_item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="desId != null">
        #{desId,jdbcType=VARCHAR},
      </if>
      <if test="includeItemId != null">
        #{includeItemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zoomride.entity.DesIncludeItem">
    update des_include_item
    <set>
      <if test="desId != null">
        des_id = #{desId,jdbcType=VARCHAR},
      </if>
      <if test="includeItemId != null">
        include_item_id = #{includeItemId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zoomride.entity.DesIncludeItem">
    update des_include_item
    set des_id = #{desId,jdbcType=VARCHAR},
      include_item_id = #{includeItemId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>